<app-feature-section
imageSrc="https://plus.unsplash.com/premium_photo-1682129536759-7bc426c129ac?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  title="Hardware Provisioning & IT Asset Management
  "
  description="We ensure seamless hardware deployment and management for enterprises, covering: "

  [features]="['Administration & Tracking: Full lifecycle management of IT assets, ensuring visibility and control.','Reporting & Analytics: Real-time insights into hardware utilization, performance, and lifecycle status.','Troubleshooting & Maintenance: Rapid response and remote diagnostics to minimize downtime.', 'Local Warranty Support: On-site and remote warranty claims management with major manufacturers.','Asset Disposal & Recycling: Secure decommissioning and environmentally responsible disposal of IT assets.', '	Global Procurement & Logistics: Efficient sourcing and delivery of IT equipment worldwide.' ]"
></app-feature-section>

<app-team-form-lite></app-team-form-lite>

<app-footer></app-footer>


