<app-hero-header
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/639a2b6c0215102434b9ce59_LSG_WebAsset_Resources_Hero.webp"
  title="RESOUCES"></app-hero-header>

<div class="flex flex-col items-center justify-center p-8">
  <p class="max-w-[50%]">
    Dive deeper into our staffing, technology, marketing, sales and BPO industry expertise! Read our blog and find out
    more about the latest Lean Solutions Group developments, our service offerings, and industry insights.
  </p>

  <p class="max-w-[50%]">

    Get to know how we have benefitted companies within various sectors with our wide range of service offerings, find
    out more about the partnerships we have created to enhance your experience while working with us, and check out the
    industry events we’ll be attending!
  </p>
</div>

<app-resource-card></app-resource-card>

<app-footer></app-footer>
