<app-hero-header
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63ab0a04f2b9ac937ded7dad_BPO_Assets_LeanBPO_Header.avif"
  title="BPO CUSTOMER SUPPORT: YOUR ROADMAP TO SUCCESSFUL CUSTOMER INTERACTIONS"
  subtitle="With the help of trained professionals, ensure complete client satisfaction with
  BPO Customer Support."
></app-hero-header>
<app-simple-text-description></app-simple-text-description>

<app-pattern-section></app-pattern-section>
<app-grid-icons></app-grid-icons>
<app-simple-title-section buttonText="Contact Us"></app-simple-title-section>

<app-footer></app-footer>
