<nav
class="fixed top-0 mb-0 left-0 w-full bg-white lg:text-sm py-4 px-6 flex justify-between items-center shadow-md z-50"
>
<!-- Logo -->
<div class="flex items-center transition-opacity ease-in-out"
[ngClass]="isMobileMenuOpen ? 'opacity-0' : 'opacity-100'">
  <a routerLink="/">
    <img src="logo.png" alt="Advance Technology Projects" class="h-10" />
  </a>
</div>

<!-- Menú principal -->
<div class="hidden lg:flex space-x-2">

  <div class="relative group">
    <a
    routerLink="/"
    routerLinkActive="text-orange-500 font-bold"
    class="text-gray-500 font-bold hover:text-orange-600 flex justify-between gap-2 transition-colors p-4"
  >
    <fa-icon [icon]="faHome"></fa-icon>
  </a>
  </div>
  <!-- Bloque "About Us" -->
  <div class="relative group">
    <a
      routerLink="/nosotros"
      routerLinkActive="text-orange-500 font-bold"
      class="text-orange-500 font-bold hover:text-orange-600 flex justify-between gap-2 transition-colors p-4"
    >
      <span>About Us</span>
      <fa-icon [icon]="faChevronDown" size="sm"></fa-icon>
    </a>
    <div
      class="absolute left-0 mt-full w-60 bg-white shadow-[0px_0px_5px_1px_rgba(0,0,0,0.4)] rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-50 group-hover:block hidden"
    >
      <ul class="py-4">
        <!-- Ejemplo de ítems con íconos FontAwesome -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon
            [icon]="faClockRotateLeft"
            class="text-gray-700"
          ></fa-icon>
          <a routerLink="/nuestra-historia" class="text-gray-950 ">
            Our History
          </a>
        </li>


        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faHeart" class="text-slate-700"></fa-icon>
          <a routerLink="/impacto-social" class="text-gray-950">
            Social Impact
          </a>
        </li>

      </ul>
    </div>
  </div>

  <!-- Bloque "Solutions" -->
  <div
    class="group inline-block"
    (mouseenter)="isMegaMenuOpen = true"
    (mouseleave)="isMegaMenuOpen = false"
    (click)="isMegaMenuOpen = false"
  >
    <a
      routerLink="/servicios"
      routerLinkActive="text-orange-500 font-bold"
      class="text-orange-500 font-bold hover:text-orange-600 flex justify-between gap-2 transition-colors p-4"
    >
      <span>Solutions</span>
      <fa-icon [icon]="faChevronDown" size="sm"></fa-icon>
    </a>
    <!-- Contenedor del mega menú -->
    <div
      [ngClass]="
        isMegaMenuOpen
          ? 'visible pointer-events-auto opacity-100'
          : 'invisible pointer-events-none opacity-0'
      "
      class="absolute top-16 left-0 w-full shadow-[0px_12px_12px_1px_rgba(0,0,0,0.1)] bg-rose-500 transition-all duration-300 z-50"
    >
      <!-- Fondo del mega menú con sombra y padding -->
      <div class="bg-white pt-8 pb-8">
        <!-- Contenido centrado -->
        <div class="mx-auto max-w-7xl px-8">
          <div class="grid grid-cols-1 md:grid-cols-5 gap-6 ">
            <!-- OPERATIONS -->
            <div>

            <app-title-mega-menu link="hardware-provisioning" color="orange"></app-title-mega-menu>

              <ul class="space-y-3 text-gray-700 text-md">
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-orange-50"
                >
                  <fa-icon
                    [icon]="faPeopleArrows"
                    class="text-md text-orange-500"
                  ></fa-icon>
                  <a
                    routerLink="/transporte-logistica"
                    class="hover:text-orange-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Administration & Tracking
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 py-4 px-2 hover:bg-orange-50"
                >
                  <fa-icon
                    [icon]="faGlobe"
                    class="text-sm text-orange-500"
                  ></fa-icon>
                  <a
                    routerLink="/global-forwarding"
                    class="hover:text-orange-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Reporting & Analytics
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 py-4 px-2 hover:bg-orange-50 hover:rounded-md"
                >
                  <fa-icon
                    [icon]="faScrewdriverWrench"
                    class="text-sm text-orange-500"
                  ></fa-icon>
                  <a
                    routerLink="/warehousing-distribution"
                    class="hover:text-orange-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Troubleshooting & Maintenance
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 py-4 px-2 hover:bg-orange-50"
                >
                  <fa-icon
                    [icon]="faPhoneVolume"
                    class="text-sm text-orange-500"
                  ></fa-icon>
                  <a
                    routerLink="/back-office"
                    class="hover:text-orange-500"
                    routerLinkActive="text-orange-500 font-bold"
                    (click)="isMegaMenuOpen = false"
                  >
                  Local Warranty Support
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 py-4 px-2 hover:bg-orange-50"
                >
                  <fa-icon
                    [icon]="faRecycle"
                    class="text-sm text-orange-500"
                  ></fa-icon>
                  <a
                    routerLink="/asset-disposal"
                    class="hover:text-orange-500"
                    routerLinkActive="text-orange-500 font-bold"
                    (click)="isMegaMenuOpen = false"
                  >
                  Asset Disposal & Recycling
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 py-4 px-2 hover:bg-orange-50"
                >
                  <fa-icon
                    [icon]="faTruckFast"
                    class="text-sm text-orange-500"
                  ></fa-icon>
                  <a
                    routerLink="/procurement-logictics"
                    class="hover:text-orange-500"
                    routerLinkActive="text-orange-500 font-bold"
                    (click)="isMegaMenuOpen = false"
                  >
                 LATAM Procurement & Logistics
                  </a>
                </li>
              </ul>
            </div>

            <!-- TECH -->
            <div>

            <app-title-mega-menu link="software-as-a-service" title="Software as a Service (SaaS)" color="purple" icon=""></app-title-mega-menu>
              <ul class="space-y-3 text-gray-700">
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-purple-50"
                >
                  <fa-icon
                    [icon]="faLayerGroup"
                    class="text-sm text-purple-600"
                  ></fa-icon>
                  <a
                    routerLink="/software-development"
                    class="hover:text-purple-600"
                    (click)="isMegaMenuOpen = false"
                  >
                    Software Development
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-purple-50"
                >
                  <fa-icon
                    [icon]="faHeadphones"
                    class="text-sm text-purple-600"
                  ></fa-icon>
                  <a
                    routerLink="/heldesk-service"
                    class="hover:text-purple-600"
                    (click)="isMegaMenuOpen = false"
                  >
                  Helpdesk Service
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-purple-50"
                >
                  <fa-icon
                    [icon]="faFileSignature"
                    class="text-sm text-purple-600"
                  ></fa-icon>
                  <a
                    routerLink="/business-intelligence"
                    class="hover:text-purple-600"
                    (click)="isMegaMenuOpen = false"
                  >
                  Adobe Sign & Creative Cloud
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-purple-50"
                >
                  <fa-icon
                    [icon]="faDatabase"
                    class="text-sm text-purple-600"
                  ></fa-icon>
                  <a
                    routerLink="/data-science"
                    class="hover:text-purple-600"
                    (click)="isMegaMenuOpen = false"
                  >
                  Cloud-Based Business Applications
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-purple-50"
                >
                  <fa-icon
                    [icon]="faKey"
                    class="text-sm text-purple-600"
                  ></fa-icon>
                  <a
                    routerLink="/licence-optimization"
                    class="hover:text-purple-600"
                    (click)="isMegaMenuOpen = false"
                  >
                  License Optimization & Compliance
                  </a>
                </li>
              </ul>
            </div>

            <!-- BPO -->
            <div>

              <app-title-mega-menu link="cloud-cibersecurity" title="Cloud & Cybersecurity Solutions" color="pink"></app-title-mega-menu>
              <ul class="space-y-3 text-gray-700">
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-pink-50"
                >
                  <fa-icon
                    [icon]="faCloud"
                    class="text-sm text-pink-500"
                  ></fa-icon>
                  <a
                    routerLink="/customer-support"
                    class="hover:text-pink-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Cloud Infrastructure
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-pink-50"
                >
                  <fa-icon
                    [icon]="faShieldHalved"
                    class="text-sm text-pink-500"
                  ></fa-icon>
                  <a
                    routerLink="/professional-services"
                    class="hover:text-pink-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Cybersecurity Frameworks
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-pink-50"
                >
                  <fa-icon
                    [icon]="faCloudSun"
                    class="text-sm text-pink-500"
                  ></fa-icon>
                  <a
                    routerLink="/recruitment"
                    class="hover:text-pink-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Cloud Backup & Disaster Recovery
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-pink-50"
                >
                  <fa-icon
                    [icon]="faFingerprint"
                    class="text-sm text-pink-500"
                  ></fa-icon>
                  <a
                    routerLink="/identity-access"
                    class="hover:text-pink-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Identity & Access Management
                  </a>
                </li>
              </ul>
            </div>

            <!-- MARKETING -->
            <div>
              <app-title-mega-menu link="helpdesk-support" title="Help Desk & IT Support Services" color="green"></app-title-mega-menu>

              <ul class="space-y-3 text-gray-700">
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-green-50"
                >
                  <fa-icon
                    [icon]="faUserShield"
                    class="text-sm text-green-500"
                  ></fa-icon>
                  <a
                    routerLink="/creative-professionals"
                    class="hover:text-green-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  24/7 Help Desk Support
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-green-50"
                >
                  <fa-icon
                    [icon]="faChalkboardUser"
                    class="text-sm text-green-500"
                  ></fa-icon>
                  <a
                    routerLink="/powered-assistance"
                    class="hover:text-green-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  AI-Powered IT Assistance
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-green-50"
                >
                  <fa-icon
                    [icon]="faChartDiagram"
                    class="text-sm text-green-500"
                  ></fa-icon>
                  <a
                    routerLink="/service-flow"
                    class="hover:text-green-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Service Flow Management
                  </a>
                </li>
              </ul>
            </div>

            <!-- SALES -->
            <div>

              <app-title-mega-menu link="enterprise-technologies" title="Enterprise IT & Technology Projects" color="blue"></app-title-mega-menu>

              <ul class="space-y-3 text-gray-700">
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-blue-50"
                >
                  <fa-icon
                    [icon]="faHouseLaptop"
                    class="text-sm text-blue-500"
                  ></fa-icon>
                  <a
                    routerLink="/sales"
                    class="hover:text-blue-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  New Office IT Setup
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-blue-50"
                >
                  <fa-icon
                    [icon]="faVideo"
                    class="text-sm text-blue-500"
                  ></fa-icon>
                  <a
                    routerLink="/carrier-sales"
                    class="hover:text-blue-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Conference Room & AV Solutions
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-blue-50"
                >
                  <fa-icon
                    [icon]="faServer"
                    class="text-sm text-blue-500"
                  ></fa-icon>
                  <a
                    routerLink="/data-center"
                    class="hover:text-blue-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  Data Center & Server Room Solutions
                  </a>
                </li>
                <li
                  class="flex items-center space-x-2 px-2 py-4 hover:bg-blue-50"
                >
                  <fa-icon
                    [icon]="faBuildingCircleArrowRight"
                    class="text-sm text-blue-500"
                  ></fa-icon>
                  <a
                    routerLink="/relocation-expansion"
                    class="hover:text-blue-500"
                    (click)="isMegaMenuOpen = false"
                  >
                  IT Relocation & Expansion
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bloque "Industries" -->
  <div class="relative group">
    <a
      routerLink="/industries"
      routerLinkActive="text-orange-500 font-bold"
      class="text-orange-500 font-bold hover:text-orange-600 flex justify-between gap-2 transition-colors p-4"
    >
      <span>Industries</span>
      <fa-icon [icon]="faChevronDown" size="sm"></fa-icon>
    </a>
    <!-- Menú desplegable -->
    <div
      class="absolute left-0 mt-full w-60 bg-white shadow-[0px_0px_5px_1px_rgba(0,0,0,0.4)] rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-50 group-hover:block hidden"
    >
      <ul class="py-4">
        <!-- Retail -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faStore" class="text-slate-700"></fa-icon>
          <a routerLink="/retail" routerLinkActive="text-orange-500 font-bold" class="text-gray-950"> Retail </a>
        </li>
        <!-- Insurance -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon
            [icon]="faShieldHalved"
            class="text-slate-700"
          ></fa-icon>
          <a routerLink="/insurance" routerLinkActive="text-orange-500 font-bold" class="text-gray-950"> Insurance </a>
        </li>
        <!-- Financial Services -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faDollarSign" class="text-slate-700"></fa-icon>
          <a routerLink="/financial-services" routerLinkActive="text-orange-500 font-bold" class="text-gray-950">
            Financial Services
          </a>
        </li>
        <!-- Manufacturing -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faIndustry" class="text-slate-700"></fa-icon>
          <a routerLink="/manufacturing" routerLinkActive="text-orange-500 font-bold" class="text-gray-950">
            Manufacturing
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Bloque "Our Offices" -->
  <!-- <div class="relative group inline-block">
    <a
      routerLink="/our-offices"
      routerLinkActive="text-orange-500 font-bold"
      class="text-orange-500 font-bold hover:text-orange-600 flex justify-between gap-2 transition-colors p-4"
    >
      <span>Our Offices</span>
      <fa-icon [icon]="faChevronDown" size="sm"></fa-icon>
    </a>

    <div
      class="absolute top-full left-0 w-64 bg-white rounded-lg
     opacity-0 invisible shadow-[0px_0px_5px_1px_rgba(0,0,0,0.4)]
     pointer-events-none
     group-hover:opacity-100 group-hover:visible group-hover:pointer-events-auto
     transition-all duration-300 z-50"
    >
      <ul class="py-4">
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faPlaneUp" class="text-gray-700"></fa-icon>
          <a routerLink="/plan-your-visit" class="text-gray-950 ">
            Plan your visit
          </a>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- Bloque "Resources" -->
  <div class="relative group">
    <a
      routerLink="/resources"
      routerLinkActive="text-orange-500 font-bold"
      class="text-orange-500 font-bold hover:text-orange-600 flex justify-between gap-2 transition-colors p-4"
    >
      <span>Resources</span>
      <fa-icon [icon]="faChevronDown" size="sm"></fa-icon>
    </a>

    <!-- Menú desplegable -->
    <div
      class="absolute left-0 mt-full w-60 bg-white shadow-[0px_0px_5px_1px_rgba(0,0,0,0.4)] rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-50 group-hover:block hidden"
    >
      <ul class="py-4">
        <!-- Blog -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faNewspaper" class="text-slate-700"></fa-icon>
          <a routerLink="/blog" class="text-gray-950"> Blog </a>
        </li>
        <!-- Case Studies -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faFileLines" class="text-slate-700"></fa-icon>
          <a routerLink="/case-studies" class="text-gray-950">
            Advance Academy
          </a>
        </li>
        <!-- Partners -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon [icon]="faHandshake" class="text-slate-700"></fa-icon>
          <a routerLink="/partners" class="text-gray-950"> Brands </a>
        </li>
        <!-- FAQ -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon
            [icon]="faCircleQuestion"
            class="text-slate-700"
          ></fa-icon>
          <a routerLink="/faq" fragment="faq" class="text-gray-950">
            FAQ
          </a>
        </li>

        <!-- FAQ -->
        <li
          class="flex items-center space-x-3 px-4 py-4 hover:bg-purple-100 hover:cursor-pointer"
        >
          <fa-icon
            [icon]="faCircleQuestion"
            class="text-slate-700"
          ></fa-icon>
          <a routerLink="/glosario" fragment="faq" class="text-gray-950">
            Glossary of Terms
          </a>
        </li>


      </ul>
    </div>
  </div>
</div>

<!-- Botones de acción -->
<div class="flex items-center space-x-4">
  <a
    routerLink="/productos"
    class="hidden md:block bg-purple-700 hover:bg-purple-800 text-white py-2 px-4 rounded-md transition-colors"
  >
   <fa-icon [icon]="faShoppingCart" size="sm"></fa-icon>
   All Products
  </a>
  <a
    routerLink="/contacto"
    class="hidden md:block border border-purple-700 text-purple-700 hover:bg-purple-50 py-2 px-4 rounded-md transition-colors"
  >
  Let's talk!
  </a>
  <div class="flex items-center">
    <a
      routerLink="/login"
      class="flex items-center space-x-2 text-gray-700 hover:text-purple-700"
    >
      <!-- <fa-icon [icon]="faUser" size="lg"></fa-icon> -->
      <span class="hidden md:inline">Login</span>
    </a>
  </div>
  <!-- <button class="text-gray-700 hover:text-purple-700 p-2">
    <fa-icon [icon]="faGlobe" size="lg"></fa-icon>
  </button> -->
</div>

<!-- Botón menú móvil -->
<button
  class="lg:hidden text-gray-700 z-100 hover:text-purple-700 p-2"
  (click)="toggleMobileMenu()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg>
</button>
</nav>
<!-- Menú móvil -->
<app-mobile-menu
*ngIf="isMobileMenuOpen"
(close)="closeMobileMenu()"
></app-mobile-menu>
<
