<nav
  class="fixed top-0 mb-0 left-0 w-full bg-white lg:text-sm py-4 px-6 flex justify-between items-center shadow-md z-50">
  <!-- Logo -->
  <div class="flex items-center transition-opacity ease-in-out  ">
    <a routerLink="/">
      <img src="logo.png" alt="Advance Technology Projects" class="h-10 " [ngClass]="isMobileMenuOpen ? 'opacity-0' : 'opacity-100'" />
    </a>
  </div>

  <!-- Menú principal  -->
  <app-navbar-sections [isMegaMenuOpen]="isMegaMenuOpen" [isMobileMenuOpen]="isMobileMenuOpen"></app-navbar-sections>

  <!-- Botones de acción -->
  <div class="flex md:space-x-4 items-center animate__animated animate__fadeInDown">

    <a
    (click)="cambiarIdioma()"
    class="text-xs md:sm hover:text-purple-800 text-gray-400 py-2 mr-4 rounded-md transition-colors">
    <fa-icon [icon]="faGlobe" size="sm"></fa-icon>
    <p class="ml-1 hidden md:inline-block">
      {{idiom}}
    </p>
  </a>

    <app-trm></app-trm>

    <a routerLink="/productos"
      class="hidden md:block bg-purple-700 hover:bg-purple-800 text-white py-2 px-4 rounded-md transition-colors">
      <fa-icon [icon]="faShoppingCart" size="sm"></fa-icon>
      {{'navBar.buttonProducts' | translate}}
    </a>
    <a routerLink="/contacto"
      class="hidden md:block border border-purple-700 text-purple-700 hover:bg-purple-50 py-2 px-4 rounded-md transition-colors">
      {{'navBar.buttonContact' | translate}}
    </a>
    <!-- <div class="Sitems-center hidden md:flex">
      <a routerLink="/login" class="flex items-center space-x-2 text-gray-700 hover:text-purple-700">
        <span class="hidden md:inline">Login</span>
      </a>
    </div> -->
    <!-- <button class="text-gray-700 hover:text-purple-700 p-2">
    <fa-icon [icon]="faGlobe" size="lg"></fa-icon>
  </button> -->

    <button class="lg:hidden text-gray-700 z-100 hover:text-purple-700 p-2" (click)="toggleMobileMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- Botón menú móvil   -->
</nav>
<!-- Menú móvil  -->
<app-mobile-menu *ngIf="isMobileMenuOpen" (close)="closeMobileMenu()"></app-mobile-menu>
<
