<!-- SLIDER (fondo e imágenes) -->
<div class="relative w-full min-h-screen overflow-hidden bg-gray-100">
  <!-- Diapositivas -->
  <div *ngFor="let slide of slides; let i = index"
    class="absolute top-0 left-0 w-full h-full transition-opacity duration-700 ease-in-out"
    [ngStyle]="{ opacity: i === currentSlideIndex ? 1 : 0 }">
    <!-- Imagen de fondo -->
    <img [src]="slide.image" alt="Imagen de Slide" class="w-full h-screen object-cover" />
    <!-- Texto superpuesto -->
    <div class="absolute top-1/4 lg:pl-20 lg:bottom-1/2 p-8 min-w-screen text-white bg-opacity-40 max-w-5xl z-2">
      <h2 class="text-5xl max-w-full h-20 text-center lg:text-start my-4 uppercase font-extrabold md:text-6xl lg:text-8xl mb-2">
        {{ slide.title }}
      </h2>
      <p class="text-xl md:text-xl text-center lg:text-start my-8">
        {{ slide.subtitle }}
      </p>

      <div class="lg:flex grid justify-center lg:justify-start gap-4 lg:gap-2 mt-12 lg:mt-8">
        <button class="p-2 lg:w-30 border-2 cursor-pointer border-purple-600 rounded-md">
          Learn more
        </button>
        <button class="p-2 w-80 lg:w-30 rounded-md cursor-pointer bg-purple-600">
          Start now
        </button>
      </div>
    </div>
  </div>

  <!-- Capa de opacidad -->
  <div class="absolute top-0 left-0 text-amber-50 bg-black opacity-50 w-full h-full z-1"></div>

  <!-- Indicadores de posición (barras verticales) -->
  <div class="absolute bottom-6 left-1/2 transform -translate-x-1/2 flex flex-row space-x-3 z-10
              md:bottom-auto md:left-6 md:top-1/2 md:transform md:-translate-y-1/2 md:flex-col md:space-y-3 md:space-x-0">
    <div *ngFor="let s of slides; let j = index" (click)="goToSlide(j)"
      class="cursor-pointer w-2 h-8 rounded-sm transition-colors duration-300" [ngClass]="{
              'bg-purple-700': currentSlideIndex === j,
              'bg-white opacity-70 hover:opacity-100': currentSlideIndex !== j,
              'scale-150': currentSlideIndex === j
            }"></div>
  </div>
</div>
