<app-hero-header
backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3afbaa91863b8c0d39cc5_BG-Image.jpg"
title="Nearshore & Offshore Software Development Services"
subtitle="We are experts in building the most efficient nearshore software development teams that will set you up for success."
>

</app-hero-header>

<app-titledes-section
[title]="titulo"
[p]="textos"
[gray]="true"
></app-titledes-section>

<app-nearshore-benefits></app-nearshore-benefits>

<app-feature-section
backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/6372587c9ba56f0e66ea0544_section-bg1.svg"
imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3afbaa9186309a6d39cc1_Image%20Placeholder-min.png"
title="Scalable Software Development Augmentation"
[arrayDescription]="descripciones"
></app-feature-section>

<app-titledes-section
[title]="tituloSecundario"
buttonText="Empecemos el cambio !"
></app-titledes-section>

<app-footer></app-footer>
