<app-hero-header
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63b2e899dd90444f68fc7734_LSG_WebAssets_CarrierSales_Hero_DSC00068.avif"
  title="Hire carrier sales representatives to generate profit"
  subtitle="Looking to hire Carrier Sales Representatives? Carrier Sales Representatives are the backbone of your business relationships. Carrier Sales Reps are the driving force that generates profit and ensures high-quality transportation management services thanks to their ability to create long-lasting relationships with carriers."
></app-hero-header>

<app-simple-title-section></app-simple-title-section>

<app-feature-section
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/6372587c9ba56f0e66ea0544_section-bg1.svg"
  imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63b2fb89f4c2b27b49ae3a7c_LSG_WebAssets_LeanSales_CarrierSales.avif"
  title="HOW CAN OUR CARRIER SALES REPRESENTATIVES HELP YOUR BUSINESS?"
  [features]="feactures"
  buttonText="GET STARTED"
></app-feature-section>

<app-grid-icons></app-grid-icons>

<app-simple-title-section title="Are you ready to start negotiating competitive freight rates and building strong carrier relationships? Hire a Carrier Sales Representative!" buttonText="CONTACT US"></app-simple-title-section>

<app-footer></app-footer>
