<app-hero-header
backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3aff8283db147a0906a0d_BG-Image.jpg"
title="Data Center & Server Room Solutions">
</app-hero-header>

<!-- texto simple dentro de una caja -->
<section class="bg-white p-8 py-12 flex justify-center">

  <p class="text-gray-600 p-8 min-h-50 max-w-130 shadow-xl">
    Our warehousing and distribution staffing services are designed to help you meet the demands of your business. We provide
    temporary, temp-to-hire, and direct hire staffing solutions for a variety of positions, including:
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequatur odio cum facilis voluptate. Placeat sequi provident, expedita vero fugit autem unde perspiciatis tenetur repellendus corporis dicta tempora dolore iste!
  </p>
</section>

<app-feature-section
imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3aff8283db150c2906a09_Image%20Placeholder-min.png"
title="A core business area managed by experts"
description="At Lean Solutions Group, we specialize in finding the quality talent warehousing companies need with our distribution staffing solutions. We can find trained and bilingual professionals specifically that cater to your business’s guidelines and needs. We help you fill these mission-critical positions with talent from across the globe, ensuring a laser-focused approach to providing unmatched customer experiences."
></app-feature-section>

<app-feature-section
imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3aff8283db150c2906a09_Image%20Placeholder-min.png"
backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/6372587c9ba56f0e66ea0544_section-bg1.svg"
title="A core business area managed by experts"
description="At Lean Solutions Group, we specialize in finding the quality talent warehousing companies need with our distribution staffing solutions. We can find trained and bilingual professionals specifically that cater to your business’s guidelines and needs. We help you fill these mission-critical positions with talent from across the globe, ensuring a laser-focused approach to providing unmatched customer experiences."
[reverse]="true"
buttonText="Learn More"
></app-feature-section>

<app-top-positions
title="Lorem ipsum fretg haefr bgret"></app-top-positions>

<app-footer></app-footer>
