<section class="text-center w-screen bg-linear-to-b from-purple-500 to-purple-800">
  <!-- <img src="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63892c7c3562b3babf615793_white-bg-ornament.svg"
    alt="" srcset="
    https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63892c7c3562b3babf615793_white-bg-ornament.svg
  " /> -->

  <!-- Título principal -->
  <h2 class="text-3xl p-4 md:text-5xl font-bold uppercase tracking-wide mb-4 text-white">
    WORKFORCE staffing
  </h2>

  <!-- Texto descriptivo -->
  <p class="text-lg md:text-lg p-4 lg:pb-4 text-white text-center lg:px-100 mb-12 ">
    At Advance Technology Projects SAS, we don't just offer IT solutions—we create seamless technology experiences for
    businesses that demand nothing but the best. Whether you're looking to optimize IT infrastructure, enhance
    cybersecurity, or implement AI-powered automation, we have the expertise and passion to help you succeed in
    the digital era.
    <br />
    <br />
</section>
