<section class="text-center w-screen bg-linear-to-b from-purple-500 to-purple-800">
  <!-- <img src="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63892c7c3562b3babf615793_white-bg-ornament.svg"
    alt="" srcset="
    https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63892c7c3562b3babf615793_white-bg-ornament.svg
  " /> -->

  <!-- Título principal -->
  <h2 class="text-3xl p-4 md:text-5xl font-bold uppercase tracking-wide mb-4 text-white">
    {{'home.workforce.title' | translate}}
  </h2>

  <!-- Texto descriptivo -->
  <p class="text-lg md:text-xl p-4 lg:pb-2 text-white text-center lg:px-100 ">
    {{'home.workforce.description' | translate}}

  </p>

  <p class="text-xl font-bold md:text-3xl p-4 lg:pb-4 text-white text-center lg:px-100 mb-12 ">
    {{'home.workforce.footerText' | translate}}

  </p>
</section>
