<section class="text-center w-screen bg-linear-to-b from-purple-500 to-purple-800">
  <img src="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63892c7c3562b3babf615793_white-bg-ornament.svg"
    alt="" srcset="
    https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63892c7c3562b3babf615793_white-bg-ornament.svg
  " />

  <!-- Título principal -->
  <h2 class="text-3xl md:text-5xl font-bold uppercase tracking-wide mb-4 text-white">
    WORKFORCE staffing
  </h2>

  <!-- Texto descriptivo -->
  <p class="text-lg md:text-lg p-4 lg:pb-4 text-white text-center lg:px-100 mb-12 ">
    What does your business need to succeed? Is it nearshoring?
    Offshoring? We give you globalshoring! With our vast workforce
    augmentation options, we align the people, processes, and technology
    you need to maximize customer experiences while minimizing operational
    costs. At Lean Solutions Group, we work closely with businesses to
    ensure we understand our clients’ goals and select the ideal nearshore
    employees for their satellite locations in Latin America and the
    Philippines. During the hiring process, we take time to carefully
    align each employee with the businesses we work with—you'll have the
    best staff at your satellite locations.
    <br />
    <br />
    CONTACT US <br />Contact us today to set up an appointment with our
    nearshore staff augmentation company. You’ll reach our team of
    professionals by sending us a message or calling us at (888) 323-995.
    Leverage the best with our staff augmentation services.
  </p>
</section>
