<app-hero-header
  backgroundImage="https://images.unsplash.com/photo-1569979230536-b3415317a681?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  title="Finance & Financial Services"
>

</app-hero-header>


<!-- <app-how-we-help-retailers [helpItems]="helpItems"></app-how-we-help-retailers> -->

<app-feature-section
  imageSrc="https://images.unsplash.com/photo-1579621970795-87facc2f976d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  description="We support financial institutions with secure and scalable IT solutions that enhance compliance, risk management, and customer experience."
  [features]="[
    'High-performance IT infrastructure to support trading, banking, and financial operations.',
    'Secure remote access solutions for employees handling sensitive data.',
    '
    Data analytics & business intelligence tools for financial forecasting and decision-making.',
    '
    Cybersecurity & compliance to meet industry standards like PCI-DSS and GDPR.',
    ]"></app-feature-section>

<app-retail-benefits [benefits]="benefits"></app-retail-benefits>

<app-team-form-lite></app-team-form-lite>

<app-stats></app-stats>

<app-footer></app-footer>
