<app-hero-header
backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63bf1a2f5dd1213c0bad3e95_LifeatLSG_Hero_image.avif"
title="Efficient Compliance and Security for Financial Services"
subtitle="Safeguarding sensitive data and ensuring regulatory compliance are non-negotiable in your financial services company. We provide tailored nearshore staffing solutions to address your critical needs by implementing security measures and ensuring strict adherence to regulatory standards."
>

</app-hero-header>

<app-slider-industries></app-slider-industries>

<app-how-we-help-retailers
  [helpItems]="helpItems"
></app-how-we-help-retailers>

<app-feature-section
  imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63c59aab511baa4ff190c94d_cultural-advantage-image.avif"
  title="Build the Team That Fits Your Needs"
  description="Our personalized service ensures your specific needs are met with precision to stay competitive in your market. These are our commonly staffed dedicated roles:"
  [features]="[
    'Customer Service Representatives',
    'Call Center Operations',
    'IT Support for E-commerce Platforms And many more.',
    '
    Live Chat Agents',
    ]"
></app-feature-section>

<app-retail-benefits></app-retail-benefits>

<app-team-form-lite></app-team-form-lite>

<app-stats></app-stats>

<app-footer></app-footer>
