<app-hero-header
  title="workfoce optimization for business  teams"
  backgroundImage="https://plus.unsplash.com/premium_photo-1661678060948-b8d1d293889a?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
></app-hero-header>

<app-outline-title
  title="PEOPLE"
></app-outline-title>

<app-simple-text-description></app-simple-text-description>

<app-video-embed></app-video-embed>

<app-multicolor-section></app-multicolor-section>

<app-feature-section
  title="Flexible and Scalable Staffing"
  description="Flexibility and scalability are two critical aspects customers are searching for, especially when discussing building a robust workforce. Markets are still in a volatile state. Therefore, companies are looking for ways to stabilize their workforce to respond quickly to the market’s needs."
  imageSrc="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
></app-feature-section>

<app-cards></app-cards>


<app-feature-section
  title="Flexible and Scalable Staffing"
  description="Flexibility and scalability are two critical aspects customers are searching for, especially when discussing building a robust workforce. Markets are still in a volatile state. Therefore, companies are looking for ways to stabilize their workforce to respond quickly to the market’s needs."
  imageSrc="https://images.unsplash.com/photo-1555421689-491a97ff2040?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  [reverse]="true"
></app-feature-section>

<app-simple-section></app-simple-section>

<app-team-form-lite imageURL="logo.png" [orange]="true"></app-team-form-lite>


<app-footer></app-footer>
