<app-hero-header
backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3b1323e5c9a3baf145275_BG-Image.jpg"
title="Back Office Solutions"
subtitle="Our back office solutions are designed to help you manage your business more efficiently. We offer a range of services that can help you streamline your operations and improve your bottom line. Whether you need help with accounting, payroll, or human resources, we have the expertise and experience to help you succeed. Contact us today to learn more about how we can help you grow your business."
></app-hero-header>

<app-feature-section
title="Think outside your borders"
description="Our back office solutions are designed to help you manage your business more efficiently. We offer a range of services that can help you streamline your operations and improve your bottom line. Whether you need help with accounting, payroll, or human resources, we have the expertise and experience to help you succeed. Contact us today to learn more about how we can help you grow your business."
imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63c6a2226500927c40c7e253_your-border-image-section.png"
[note]="true"
[reverse]="true"
></app-feature-section>

<app-icon-bigbox
title="Check Out Our Available
Entry-Level Back Office Positions"
></app-icon-bigbox>

<app-multicolor-section

title="Why is Back-Office support essential to your company?"
>

</app-multicolor-section>

<app-back-office-functions></app-back-office-functions>

<app-feature-section
title="Think outside your borders"
description="Our back office solutions are designed to help you manage your business more efficiently. We offer a range of services that can help you streamline your operations and improve your bottom line. Whether you need help with accounting, payroll, or human resources, we have the expertise and experience to help you succeed. Contact us today to learn more about how we can help you grow your business."
imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63c6a2226500927c40c7e253_your-border-image-section.png"
[note]="true"
></app-feature-section>

<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-orange-500 h-15"></div>

<app-team-form-lite></app-team-form-lite>

<app-footer></app-footer>
