<app-feature-section
  imageSrc="https://images.unsplash.com/photo-1581089781785-603411fa81e5?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  [title]="'helpDesk.title' | translate"
  [simpleDescription]="'helpDesk.description' | translate"
  [features]="[
    'helpDesk.f1' | translate,
    'helpDesk.f2' | translate,
    'helpDesk.f3' | translate,
    'helpDesk.f4' | translate
  ]"
  [levels]="[
    'helpDesk.levels.l1' | translate,
    'helpDesk.levels.l2' | translate,
    'helpDesk.levels.l3' | translate
  ]"
></app-feature-section>

<app-team-form-lite></app-team-form-lite>

<app-footer></app-footer>
