<app-hero-header
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63b2e98a6095cb46ef32e3f2_LSG_WebAsset_Hero_BusinessDevelopment_DSC00063.avif"
  title="HIRE SALES DEVELOPMENT REPS TO FUEL YOUR GROWTH AND INCREASE REVENUE"
  subtitle="Every business aspires for growth, but achieving it requires the right talent in the right roles. When it comes to accelerating sales and building a robust pipeline, Sales Development Reps (SDRs) are your secret weapon."
></app-hero-header>

<app-simple-title-section></app-simple-title-section>

<app-growth-efforts></app-growth-efforts>

<app-sdr-differences></app-sdr-differences>

<app-feature-section
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/6372587c9ba56f0e66ea0544_section-bg1.svg"
  imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63b2e8a1b3e375875a59c97e_LSG_Assets_LeanSales_Business-26.avif"
  description="Over 10 years of experience in the industry
  Structured training programs
  Established vetting and hiring process
  Landed the Inc.5000 list for fastest-growing companies in America for four years in a row
  97% retention rate"
  title="WHY TRUST LEAN SOLUTIONS GROUP FOR GROWTH?"
></app-feature-section>

<app-footer></app-footer>
