<app-hero-header
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/6465430c2f8e40fc8d7b1cfd_creative-pro-hero_img.webp"
  title="Creative professionals staffing services"
  subtitle="Build a team of ingenious storytellers that will showcase your brand story through a variety of creative endeavors."
></app-hero-header>

<app-simple-title-section></app-simple-title-section>

<app-feature-section
  [note]="true"
  title="Passion is the power behind our talent"
  description="Our detail-oriented professionals strive to think outside of the box and complement their clever ideas with specific industry knowledge to craft unique
  content that will make your company stand out.

  Access skilled personnel driven by the latest trends and topics at a suitable price!"
  imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/646545fe68c7421c97f560f1_LSG_WebAssets%20(5).webp"
></app-feature-section>

<app-grid-icons></app-grid-icons>

<app-multicolor-image></app-multicolor-image>

<app-team-form-lite
  imageURL="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/646548f991e7819cf190f0e7_LSG_WebAssets2.webp"
></app-team-form-lite>

<app-footer></app-footer>
