<div class="bg-white rounded-xl shadow overflow-hidden transform transition-transform hover:scale-101 flex flex-col min-w-xs">
  <img [src]="producto.imagen | sanitizeImageUrl" [alt]="producto.nombre" class="w-full h-48 object-contain p-4" />
  <div class="p-4 flex flex-col flex-grow">
    <h2 class="text-xl md:text-xl font-semibold text-gray-800 mb-2">
      {{ producto.nombre }}
    </h2>
    <p class="text-gray-600 text-sm md:text-md line-clamp-4">
      {{ producto.descripcion }}
    </p>

    <ul class="p-4 text-gray-500 text-xs md:text-md">
      <li *ngFor="let c of producto.caracteristicas">
        ✔ {{ c }}
      </li>
    </ul>

    <div class="flex gap-4 my-2">
      <span class="bg-orange-100 text-orange-700 text-xs font-semibold px-2 py-1 rounded-lg">
        <fa-icon [icon]="faCopririgth"></fa-icon>
        {{ producto.marca }}</span>
      <span class=" text-purple-700 text-xs font-semibold px-2 py-1 rounded-full">
        <fa-icon [icon]="faLayerGroup"></fa-icon>
        {{ producto.categoria | sanitizeImageUrl }}
      </span>
    </div>
    <div class="flex flex-wrap gap-2 mb-4">
      <span *ngFor="let tag of producto.etiquetas"
        class="bg-purple-100 text-purple-700 text-xs font-semibold px-2 py-1 rounded-full">
        <fa-icon [icon]="faTag"></fa-icon>
        {{ tag }}
      </span>
    </div>
    <div class="flex justify-between items-center mt-auto">
      <span class="text-purple-700 font-bold text-lg">
        $ {{ producto.precio | number : '1.2-2' }}
      </span>
      <span>
        <fa-icon [icon]="faEye" class=" text-slate-600 cursor-pointer hover:scale-110 hidden"></fa-icon>
      </span>
      <button
        class="bg-gradient-to-r bg-purple-500 hover:bg-purple-800 text-white py-2 px-4 rounded-lg transition-transform transform hover:scale-105 hover:-rotate-5"
         (click)="addToCart(producto)">
        Comprar
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </button>
    </div>
  </div>
</div>
