<section class="grid gap-4 p-12 justify-center">

  <h2 class="text-3xl font-bold text-purple-600 text-center m-4">SOFTWARE</h2>

  <div class=" flex gap-4 p-4 max-w-2xl flex-wrap justify-center items-center">
    <div *ngFor="let url of brandImagesSoftware" class="flex ">
      <img src="{{url}}" alt="url" class="h-20">
    </div>
  </div>

  <h2 class="text-3xl font-bold text-purple-600 text-center m-4">HARDWARE</h2>

  <div class="flex gap-4 p-4 max-w-2xl flex-wrap justify-center items-cente">

    <div *ngFor="let url of brandImagesHardware" class="flex justify-center items-center">
      <img src="{{url}}" alt="url" class="h-20">
    </div>

  </div>


</section>
