/* Si NO usas el plugin @tailwindcss/aspect-ratio, define manualmente las clases: */

/* Mantener relación de aspecto 16:9 */
.aspect-w-16 {
  position: relative;
  width: 100%;
}
.aspect-h-9::before {
  content: "";
  display: block;
  padding-bottom: 56.25%; /* (9 / 16) * 100% = 56.25% */
}
.aspect-w-16.aspect-h-9 > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
