<app-hero-header
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63bec947167b24767b55f70d_BG%20ImageHero.avif"
  title="WE SET UP YOUR LEAN SOLUTIONS OFFICES IN CLASS-A BUILDINGS WORLDWIDE"
></app-hero-header>

<app-simple-section></app-simple-section>

<app-feature-section imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63befe6fe3b7c9780f721371_bogota.avif" [reverse]="true"
  title="The LSG facilities"
  description="Your offices will be located in class-A buildings with corporate office spaces, giving your team everything they need to experience a highly productive work environment.

  Each area you choose is completely customizable! We’ll add your company logo, colors, and any other features you’d like."
></app-feature-section>

<app-simple-title-section
  title="Are you ready to set up your Lean Solutions offices in strategic locations across the globe?"
  buttonText="CONTACT US"
></app-simple-title-section>


<app-footer></app-footer>
