<app-hero-header
  title="Recruitment process outsourcing"
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63ab4e18eb96a7b2169ad24a_Header.avif"
  subtitle="Selecting the right professional to become a recruiter in your business is vital. Let us help you with recruitment process outsourcing!"
></app-hero-header>

<app-simple-text-description></app-simple-text-description>

<app-feature-section
  imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63ab4e18916d9bbc000fdf42_BPO_Assets_LeanBPO-19.avif"
  title="What can our RPO recruiters takecare of?"
  [features]="feactures"
></app-feature-section>

<app-simple-title-section buttonText="Contact Us ->"></app-simple-title-section>

<app-footer></app-footer>
