<app-feature-section
  imageSrc="https://images.unsplash.com/photo-1632910138458-5bf601f3835e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  [title]="'cloudSecurity.title' | translate"
  [simpleDescription]="'cloudSecurity.simpleDescription' | translate"
  [features]="[
    'cloudSecurity.f1' | translate,
    'cloudSecurity.f2' | translate,
    'cloudSecurity.f3' | translate,
    'cloudSecurity.f4' | translate
  ]"
></app-feature-section>

<app-team-form-lite></app-team-form-lite>

<app-footer></app-footer>
