<!-- Sección Workforce Optimization at a Global Scale -->
<section class="py-16 px-4 w-screen">
  <div class="max-w-6xl mx-auto lg:grid md:grid-cols-2 gap-8 flex-col-reverse flex items-center">
    <!-- Columna Izquierda: Imagen -->
    <div class="flex justify-center">
      <!-- Reemplaza el src con la ruta de tu imagen -->
      <img
        src="{{imageURL}}"
        alt="Workforce Optimization" class="max-w-full h-auto rounded-2xl shadow-2xl" />
    </div>

    <!-- Columna Derecha: Título y Lista de Beneficios -->
    <div class="text-left">
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-extrabold text-gray-800 uppercase mb-6">
        {{'home.imageSection1.title' | translate }}
      </h2>
      <ul class="list-inside text-gray-700 space-y-2 mb-8">
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p1' | translate }}

        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p2' | translate }}

        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p3' | translate }}

        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p4' | translate }}

        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p5' | translate }}
        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p6' | translate }}

        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p7' | translate }}
        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p8' | translate }}

        </li>
        <li><fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p9' | translate }}
        </li>
        <li>
          <fa-icon class="text-purple-600" [icon]="faCheck"></fa-icon>
          {{'home.imageSection1.p10' | translate }}

        </li>
      </ul>

      <app-button-simple-cta buttonText="home.imageSection1.footerText" link="hardware-provisioning"></app-button-simple-cta>
    </div>
  </div>

  <!-- Texto Final Centrado -->
  <!-- <div class="max-w-3xl mx-auto mt-12 text-center">
    <h3 class="text-2xl md:text-3xl font-bold text-purple-700 shadow-cc uppercase p-4">
      Let us help you get the most out of your satellite office
    </h3> -->
  <!-- </div> -->
</section>
