<app-hero-header
  title="Helpdesk Solutions"
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/66451d1433f3723c2fe9e830_helpdesk-hero-img.jpg"
></app-hero-header>

<app-feature-section
imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/66461e53ea66b77f880de563_helpdesk-img-lt-p-800.webp"
title="Achieve Peak Efficiency and Customer Satisfaction with our Comprehensive helpdesk services."
description="Choosing the right IT help desk support model is important in today’s technology-driven marketplace. Many people rely on the expertise of the professionals they contact, and ensuring they have the knowledge and communication skills to help is crucial for a successful customer experience. Lean Solutions Group empowers you to break free of cultural and communication barriers with a revolutionary approach: the seamless integration of nearshore outsourcing and staff augmentation models."
[reverse]="true"
></app-feature-section>

<app-heldeskp-insights></app-heldeskp-insights>
<app-helpdesk-contact-form></app-helpdesk-contact-form>
<app-footer></app-footer>
