<div class="w-full shadow-lg  bg-white rounded-lg flex max-h-full flex-col overflow-hidden">
  <!-- Encabezado -->
  <div class=" text-slate-900 p-4 font-bold">Advance Assistant</div>

  <!-- Zona de mensajes -->
  <div class="flex-1 p-4 lg:px-50 space-y-3 overflow-y-auto min-h-[76vh] max-h-[76vh] lg:max-h-[69vh] lg:min-h-[69vh] bg-white" #chatContainer>
    <!-- Itera los mensajes -->
    <div *ngFor="let msg of messages">
      <!-- Mensaje de usuario -->
      <div *ngIf="msg.sender === 'user'" class="flex justify-end mb-2">
        <div class="bg-purple-100 text-purple-800 px-3 py-2 rounded-lg max-w-xs text-right">
          {{ msg.text }}
        </div>
      </div>

      <!-- Mensaje de bot -->
      <div *ngIf="msg.sender === 'bot'" class="flex justify-start mb-2">
        <div class="bg-orange-100 text-orange-800 px-3 py-2 rounded-lg max-w-xs">
          <!-- Texto -->
          <p *ngIf="msg.text" class="mb-2">{{ msg.text }}</p>

          <!-- Productos -->
          <app-products-chatbot *ngIf="msg.products" [products]="msg.products"></app-products-chatbot>

        </div>
      </div>
    </div>
  </div>

  <!-- Input de mensaje -->
  <div class="p-2 lg:px-50 border-t bg-white border-gray-300 flex items-center">
    <input type="text" [(ngModel)]="userInput" (keyup.enter)="sendUserMessage()" placeholder="Pregunta por tecnologia..."
      class="flex-1 border border-gray-300 rounded-l p-2 focus:outline-none" />
    <button (click)="sendUserMessage()" class="bg-purple-600 text-white px-4 py-2 rounded-r">
      Send
    </button>
  </div>
</div>
