<app-hero-header
backgroundImage="https://images.unsplash.com/photo-1637763723578-79a4ca9225f7?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
title="Insurance"
>

</app-hero-header>


<app-feature-section
  imageSrc="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  description="We provide IT solutions that help insurance companies streamline operations, enhance customer interactions, and protect sensitive data."
  [features]="[
  'Automated claims processing & policy management using AI-powered tools',
  'Remote IT support for sales & customer service teams',
  'Data security & compliance to meet industry regulations like GDPR & NAIC',
  'Cloud-based infrastructure for better scalability and disaster recovery'
]"
></app-feature-section>

<app-retail-benefits [benefits]="benefits"></app-retail-benefits>

<app-team-form-lite></app-team-form-lite>

<app-stats></app-stats>

<app-footer></app-footer>
