<section class="py-16 px-4 w-screen">
  <div class="max-w-6xl mx-auto bg-gray-50 rounded-lg shadow-xs p-8 grid grid-cols-1 md:grid-cols-2 items-center gap-8">
    <!-- Columna Izquierda: Texto -->
    <div>
      <!-- Etiqueta "Social Impact" -->
      <span class="inline-block bg-purple-100 text-purple-800 text-sm font-bold px-3 py-1 rounded-full mb-4">
        {{'home.socialImpact.note' | translate }}
      </span>

      <!-- Párrafo descriptivo -->
      <p class="text-lg text-gray-700 mb-6 font-bold">
        {{'home.socialImpact.title' | translate }}
        <br/>
      </p>

      <p class="text-lg text-gray-700 mb-6">
        {{'home.socialImpact.description' | translate }}
      </p>

      <!-- Botón "Learn More!" -->
      <app-button-simple-cta link="impacto-social" buttonText="home.socialImpact.button"></app-button-simple-cta>
    </div>

    <!-- Columna Derecha: Imagen -->
    <div class="flex justify-center">
      <img src="{{imageURL}}" alt="Social Impact" class="max-w-full h-50 w-150 rounded-[100px]" />
    </div>
  </div>
</section>
