<app-hero-header
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3a9f790ad160ac19250ad_bogota%20Large.avif"
  title="OUR CLIENT RELATIONS DEPARTMENT IS HERE TO HELP YOU!"
></app-hero-header>

<app-simple-cta></app-simple-cta>


<app-grid-icons></app-grid-icons>


<app-video-embed></app-video-embed>


<section class="w-full flex flex-col items-center my-8">

  <h1 class="text-purple-600 text-2xl">KNOW MORE ABOUT ADVANCE TECHNOLOGIES</h1>
  <div  class="flex flex-col lg:flex-row ">
    <button routerLink="/nosotros" routerLinkActive="router-link-active"  class="h-20 w-50 p-8 mx-8 shadow-md cursor-pointer rounded-xl">Solutions</button>
    <button routerLink="servicios" class="h-20 w-50 p-8 mx-8 shadow-md cursor-pointer rounded-xl">What we do</button>
    <button routerLink="contacto" class=" h-20  w-50 p-8 mx-8 shadow-md cursor-pointer rounded-xl">Contact Us</button>
  </div>
</section>


<app-footer></app-footer>
