<app-hero-header
title="Freight Forwarding Staffing Services"
backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a3aeeaf8cc91888812936a_BG-Image.jpg"
></app-hero-header>
<app-feature-section
  backgroundImage="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/6372587c9ba56f0e66ea0544_section-bg1.svg"
  imageSrc="https://cdn.prod.website-files.com/636a549426aa8438b3b45fa8/63a500d2ee2304b4724d2711_LSG%20Team.png"
  title="Global forwarding professionals boosting your operation"
  description="For such an important job, you need to hire freight forwarding professionals you can trust, and Lean Solutions Group can help you find the right talent who excel in global freight forwarding with our freight forwarding staffing solutions."
  [features]="['Data entry', 'Tracking', 'Driver communication', 'Customs compliance and documentation', 'Warehousing and distribution']"
  buttonLink="#"
>
</app-feature-section>
